{% extends 'sexeduapp/base.html' %}
{% load static %}

{% block costum_css %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block body_block %}
  <!-- Banner -->
  <section id="hero">
    <h1>SexEdu</h1>
    <p>"Pengetahuan untuk Segala Usia, Memberdayakan Setiap Tahap"</p>
    <img src="{% static 'images/AboutUs.png' %}" alt="model figure" />
  </section>
  <!-- End Banner -->

  <!-- Company Description -->
  <section id="our-company">
    <h1>Our Company</h1>
    <section id="company">
      <img class="logo" src="{% static 'images/logo 2 1.png' %}" alt="logo" />
      <p>
        SexEdu adalah platform edukasi seksual daring yang menyediakan
        informasi terpercaya, layanan pengaduan kekerasan seksual, forum
        komunitas yang diawasi, dan layanan konsultasi online dengan
        profesional kesehatan seksual. Kami bertujuan untuk memberikan akses
        mudah dan aman kepada informasi seksual yang akurat serta mendukung
        individu dalam membuat keputusan bijak tentang kesehatan dan hubungan
        seksual mereka.
      </p>
    </section>
    <h2 style="color: #7f27ff">Misi</h2>
    <div class="card-container">
      <!-- Kartu pertama -->
      <div class="card">
        <h1>Kepercayaan Diri</h1>
        <p>
          Membangun kepercayaan diri pada siswa sehingga mereka akan menjadi
          lebih percaya diri dalam membuat keputusan yang sehat dan bijak
          tentang kesehatan seksual dan hubungan.
        </p>
      </div>

      <!-- Kartu kedua -->
      <div class="card">
        <h1>Kesadaran Sosial</h1>
        <p>
          Membangun kesadaran disekitar siswa sehingga mereka akan lebih sadar
          akan peran mereka dalam menciptakan lingkungan yang aman dan
          inklusif bagi semua orang.
        </p>
      </div>

      <!-- Kartu ketiga -->
      <div class="card">
        <h1>Keterbukaan dan Toleransi</h1>
        <p>
          Membuat lingkungan yang terbuka sehingga mereka akan menjadi lebih
          terbuka dan toleran terhadap perbedaan dalam hal seksualitas dan
          orientasi seksual.
        </p>
      </div>
    </div>
  </section>
  <!-- End Company Description -->

  <!-- Team -->
  <section id="our-team">
    <h2 style="margin: 20px">Our Team</h2>
    <div class="team-members">
      <div class="team-group">
        <div class="team-member">
          <img src="{% static 'images/team1.png' %}" alt="Team Member 1" />
          <p>VINCENT GUNAWAN</p>
        </div>
        <div class="team-member">
          <img src="{% static 'images/team2.png' %}" alt="Team Member 2" />
          <p>DIFA FISABILILLAH</p>
        </div>
        <div class="team-member">
          <img src="{% static 'images/Review5.png' %}" alt="Team Member 3" />
          <p>ZULHOLQI MATIN</p>
        </div>
        <div class="team-member">
          <img src="{% static 'images/team4.png' %}" alt="Team Member 4" />
          <p>AISYAH YASSER THALIB</p>
        </div>
        <div class="team-member">
          <img src="{% static 'images/team5.png' %}" alt="Team Member 5" />
          <p>BARIYAH</p>
        </div>
      </div>
      <div class="team-group">
        <div class="team-member">
          <img src="{% static 'images/team6.png' %}" alt="Team Member 6" />
          <p>MUHAMMAD RAIHAN NAHDI</p>
        </div>
        <div class="team-member">
          <img src="{% static 'images/team7.png' %}" alt="Team Member 7" />
          <p>GILANG DWI SAPUTRA</p>
        </div>
        <div class="team-member">
          <img src="{% static 'images/team8.png' %}" alt="Team Member 8" />
          <p>CANDRA DWI AKBARTIO</p>
        </div>
        <div class="team-member">
          <img src="{% static 'images/team9.png' %}" alt="Team Member 9" />
          <p>WANDA KARISMA SANTI</p>
        </div>
      </div>
    </div>
  </section>
  <!-- End Team -->

  <!-- Contact Us -->
  <div class="container-contact">
    <div class="container text-center">
      <div class="row">
        <div class="col"></div>
        <div class="col">
          <section id="contact-us">
            <h1 class="hd-contact">Contact Us</h1>
            <section class="ourteam">
              <button class="show-form">Kirim Pesan</button>
              <span class="overlay"></span>
              <!-- Pop Up -->
              <div class="modal-box">
                <form action="#" method="post">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" />
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" />
                  </div>
                  <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input type="tel" id="phone" name="phone" />
                  </div>
                  <div class="form-group">
                    <label for="message">Your Message</label>
                    <textarea id="message" name="message" rows="4" required></textarea>
                  </div>
                  <div class="buttons">
                    <button class="close-btn">Tutup</button>
                      <button type="submit">Send Message</button>
                    </div>
                  </form>    
                </div>
              </section>  
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Contact Us -->
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% block costum_js %}
    <script>
        $(document).ready(function(){
        $('#our-team').click(function(){
        $('.team-members').slideToggle(); // Melakukan toggle pada tampilan container saat diklik
        });
        });
      </script>
      <!-- End Script Untuk jQuery-->
    <script src="{% static 'js/about.js' %}"></script>
    
    {% endblock %}
  {% endblock %}