{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title> Edit Course</title>
<link rel="stylesheet"href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="{% static 'css/editcourse.css' %}" />

</head>
<body>
    <aside class="sidebar">
    <div class="sidebar-header">
        <img src="{% static 'images/logo 2 1.png' %}" alt="logo" />
        <h2>Sexedu</h2>
    </div>
    <ul class="sidebar-links">
        <h4>
        <span>Main Menu</span>
        <div class="menu-separator"></div>
        </h4>
        <li>
        <a href="{% url 'dashboardadmin' %}">
        <span class="material-symbols-outlined"> dashboard </span>Dashboard</a>
        </li>
        <li>
        <a href="{% url 'admincourse' %}"><span class="material-symbols-outlined">edit_square</span>Kelola Course</a>
        </li>
        <h4>
        <span>Account</span>
        <div class="menu-separator"></div>
        </h4>
        <li>
        <a href="{% url 'sexeduapp:profile' %}"><span class="material-symbols-outlined"> account_circle </span>Profile</a>
        </li>
        <li>
        <a href="{% url 'sexeduapp:index' %}"><span class="material-symbols-outlined"> logout </span>Back</a>
        </li>
    </ul>
    <div class="user-account">
        <div class="user-profile">
        {% if user.profile.image %}
        <img src="{{ user.profile.image.url }}" alt="Profile Image" >
        {% else %}
        <img src="{% static 'images/user1.png' %}" alt="Profile Image">
        {% endif %}
        <div class="user-detail">
        <h3>{{ user.username }}</h3>
        {% if user.is_superuser %}
                    Admin
                {% else %}
                    Student
                {% endif %}
        </div>
    </div>
    </div>
</aside>


<div class="container">
    <div class="class-list">
        <h2>Edit Course</h2>
        <hr>
        <div class="class-item">
            <div class="class-info">
                
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <label for="course-name" style="font-weight: bold;">Nama Course</label>
                    <input type="text" id="course-name" name="name" value="{{ course.name }}" readonly>
                    
                    <label for="course-material" style="font-weight: bold;">Materi</label>
                    <input type="file" id="course-ppt" name="ppt" accept=".ppt,.pptx">
                    
                    <label for="course-video" style="font-weight: bold;">Video</label>
                    <input type="file" id="course-video" name="video" accept="video/*">
                    
                    <table class="user-table">
                        <thead>
                            <tr>
                                <th>Pilih</th>
                                <th>Username</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr>
                                <td><input type="checkbox" name="selected_users" value="{{ user.id }}"></td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.email }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="button-container">
                        <button type="submit" class="button">Simpan</button>
                        <a href="{% url 'admincourse' %}" class="button cancel">Batal</a>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>