@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

li,a{
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:black;
    text-decoration: none;  
}
 

/* Banner */

.main-banner {
    background-image: url(../images/Rectangle\ 5.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 100px;
    
  }

  .main-banner .caption h6 {
    font-size: 50px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-top: 50px;
  }
  
  .main-banner .caption h2 {
    font-size: 48px;
    color: #fff;
    margin-top: 20px;
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 40px;
  }
  
  
  .main-banner .caption p {
    color: #fff;
    margin-bottom: 70px;
  }
  
  .main-banner .caption form {
    position: relative;
    max-width: 450px;
  }
  
  .main-banner .caption form input {
    max-width: 450px;
    width: 100%;
    height: 50px;
    outline: none;
    border-radius: 25px;
    background-color: #fff;
    border: none;
    padding: 0px 25px;
    font-size: 14px;
    color: #7a7a7a;
  }
  
  .main-banner .caption form button {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    background-color: #FFC700;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0px 25px;
    border: none;
    border-radius: 25px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .3s;
  }

  .section-heading h6 {
    color: #7F27FF;
    font-size: 15px;
    
    font-weight: 700;
  }



  .main-banner .caption h6 {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.5px;
  }
  
  .main-banner .caption h2 {
    font-size: 48px;
    color: #fff;
    margin-top: 20px;
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 40px;
  }

  /* Feature */
  .features {
    margin-top: -80px;
    margin-left: 50px;
    margin-right: 50px;
  }

  
  .features .item {
    padding: 35px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    background-color: #fff;
    text-align: center;
  }
  
  .features .item h4 {
    font-size: 17px;
    margin-top: 25px;
    
  }
  
  .features .item .image  {
    width: 70px;
    height: 70px;
    display: inline-block;
    text-align: center;
    line-height: 90px;
    background-color: #FFC700;
    border-radius: 50%;
    transition: all .3s;
  }
  
  .features .item:hover .image {
    background-color: #7F27FF;
  }


.features .container .row {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .features .container .row > div {
    flex: 1;
    margin-right: 10px;
  }
  
  .features .container .row .item .image img {
    font-size: 200%;
    height: auto;

  }

  .categories .section-heading{
    margin-top: 50px;
    text-align: center;
  }

  .categories .main-button {
    margin-top: 30px;
   
    
  }
  
  .categories .item  {
    background-color: #FFC700;
    position: relative;
    border-radius:  15px;
    text-align: center;
    margin-bottom: 30px;
    height:150px;
   
  }

  
  .categories .item h4 {
    margin-top: 30px;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    padding: 22px;
    margin-bottom: 0px;
  }
  .section.categories{
    margin-top: -100px;
  }
  .section.categories .container .row {
    display: flex;
    margin-left: 90px;
    margin-right: 90px;
   
  }

  .section.categories .container .row::-webkit-scrollbar {
    display: none;
  }

  .section.categories .container .row > div {
    flex: 1;
  }

  .section.categories .container .row .item {
    margin: 0 10px;  
  }

 
  .section.categories .container .row .item img {
    width: 100%;
  }


  .recomendation{
    background-color: rgba(127, 39, 255, 0.15);
    height: auto;
  }


  /* Features */
  .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    margin: 20px 0;
}

.box-items {
    flex: 1 1 300px; /* Flex basis of 300px with ability to grow and shrink */
    display: flex;
    flex-direction: column; /* Menyusun anak-anak secara vertikal */
    align-items: center; /* Menyelaraskan item ke tengah secara horizontal */
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.box-items svg {
    margin-bottom: 20px;
}

.box-items .content h1 {
    color: #333;
    font-size: 24px; /* Default font size for large screens */
    margin-bottom: 10px;
}

.box-items .content p {
    color: #666;
    font-size: 16px; /* Default font size for large screens */
}

/* Responsive adjustments for tablets */
@media (max-width: 768px) {
    .box {
        flex-direction: column;
        align-items: center;
    }

    .box-items {
        width: 90%; /* Full width on smaller screens */
        flex-direction: column; /* Mengubah tata letak menjadi vertikal */
        align-items: center; /* Menyelaraskan item ke tengah */
    }

.box-items .content h1 {
  font-size: 20px; /* Smaller font size for medium screens */
  }

.box-items .content p {
  font-size: 14px; /* Smaller font size for medium screens */
  }
}

/* Responsive adjustments for mobile phones */
@media (max-width: 480px) {
.box-items {
        flex-direction: column;
        align-items: center;
    }

.box-items .content h1 {
        font-size: 18px;
  }

.box-items .content p {
  font-size: 12px;
  }
}
  /* akhir Features */
  /* Reason */
.box-reason {
  margin: -80px 80px;
}
.box-reason .header{
  text-align: center;
  padding: 50px;
}
.box-reason .content .row {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.box-reason .content .row .reason{
  background-color: #FFC700;
  border-radius: 15px;
  padding: 16px 40px;
}

.box-reason .content .head{
  display: flex;
  gap: 20px;
  font-size: 12px;
  align-items: center;
}
  .box-reason .content p{
  padding-left: 40px;
  color: #525252;
}
.box-reason .content .cta-reason{
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: transparent;
  padding-left: 40px;
  color: rgba(0, 0, 0, 0.6);
}

  /* recomendation */
.box-recomen{
  margin-top: 100px;
  padding-bottom: 40px;
  background-color: rgba(127, 39, 255, 0.15);
}

.box-recomen h1{
  margin:50px ;
  padding: 30px;
}
.box-recomen .deskripsi{
  justify-content: space-between;
  margin-top: -70px;
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
  align-items: center;
}

.box-recomen button{
  background-color: #fff;
  color: #7F27FF;
  padding: 18px 35px;
  border: none;
  border-radius: 16px;
  font-weight:bold;
  cursor: pointer;
}

.box-recomen .box-menu {
  margin: 28px 58px;
  margin-left: 80px;
  margin-right: 80px;
  flex-direction: column;
  gap:28px;
  display: flex;
}

.box-menu .container .row .card{
  border-radius: 25px;
  padding: 10px;
  height: 500px;
}

  /* Review */
.review{
  padding: 50px 0px;
}

.review .container{
  max-width: 1450px;
  margin: auto;
  padding: 0 15px;
}
.review-box{
  background-color: #7F27FF;
  padding: 40px;
  padding-bottom: 10px;
  border-radius: 25px;
}

.section-header{
  text-align: center;
  margin-bottom:50px ;
}

.section-header .title{
  font-size: 35px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 1.2;
}

.review-item{
  padding: 20px;
  background-color: #F5F5F5;
  border-radius: 25px;  
}
.review-item img{
  max-width: 80px;
  border-radius: 50%;
  margin-right: 20px;
  vertical-align: middle;

}

.review-item .info{
  display: flex;
  align-items: center;
}
.review-item .info .name{
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 600;
    
}
.review-item .info .job{
  color: rgb(142, 142, 143);
}
.review-item p{
  margin-top: 20px;
}
.review-item .rating{
  margin-top: 15px;
  color: rgb(246, 226, 45);
  font-size: 14px;
}
.review .swiper-pagination{
  position: relative;
  margin-top: 40px;
}
.review .swiper-pagination-bullet{
  height: 12px;
  width: 12px;
  background-color: #fff;
}

 /* News */
.news h2{
  color: #0085FF;
  text-align: center;
  margin-bottom: 60px;
}
.news .news-box{
  display: flex;
  justify-content: space-between;
  margin: 0px 80px;
}

.news .news-content {
  display: flex;
  flex-direction: column;
}

.news .news-box .news-content.left{
  display: flex;
  flex-direction: column;
  gap:20px;
  width: 55%;
}
.news .news-box .news-content.right{
  width: 20%;
  gap: 20%;
}

.news .news-box .news-content.right .header{
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.news .news-box .news-content.right .header a{
  color: rgba(42, 42, 42,  0.5);
}

.news .news-box .news-content.right .box-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.news .news-box .news-content.right .box-card .card{
  display: flex;
  gap:20px;
  flex-direction: column;
  border: none;
}

.news .news-box .news-content.right .box-card .card .content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0px;
}

.news .news-box .news-content.right .box-card .card .content h1{
  font-size: 20px;
}
.news .news-box .news-content.right .box-card .card .content a{
  font-size: 16px;
  color: #FF493D;
}
footer{
    margin-top: 50px;
    padding: 50px;
    background: rgb(173,0,255);
    background: linear-gradient(90deg, rgba(173,0,255,1) 35%, rgba(104,0,153,1) 100%);
}
.top-footer{
  display: flex;
  gap:80px;
  justify-content: space-between;
  
}
  
.box-footer{
  display: flex;
  flex-direction: column;
  gap:20px
}
  
.top-footer .content-footer{
  display: flex ;
  justify-content: space-between;
  gap:30px;
  color:#fff;
  width: 100%;
}
.top-footer .content-footer .banner-footer p{
  padding-top: 50px;
}
  
.box-footer .bottom-footer {
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.box-footer .top-footer hr{
  color: #fff;
}
.box-footer .bottom-footer .icon {
  display: flex;
  gap: 20px;
}
footer{
  padding: 50px;
  background: rgb(173,0,255);
  background: linear-gradient(90deg, rgba(173,0,255,1) 35%, rgba(104,0,153,1) 100%);
}
.top-footer{
  display: flex;
  gap:80px;
  justify-content: space-between;
}

.box-footer{
  display: flex;
  flex-direction: column;
  gap:20px
}
  
.top-footer .content-footer{
  display: flex ;
  justify-content: space-between;
  gap:30px;
  color:#fff;
  width: 100%;
}
.top-footer .content-footer .banner-footer p{
  padding-top: 50px;
}
  
.box-footer .bottom-footer {
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.box-footer .top-footer hr{
  color: #fff;
}
.box-footer .bottom-footer .icon {
  display: flex;
  gap: 20px;
}
