.container{
    margin-top: 200px;
  }

  .custom-input {
    width: 500px;
    height: 40px;
  }

  .custom-textarea {
    width: 500px;
    height: 100px;
  }
  
.btn {
    margin-top: 20px;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn1:hover {
    background-color: darkviolet;
}

img.report {
  width: 600px;
  height: 600px;
  display: block;
  margin: 0 auto;
  margin-top: -400px;
  margin-left: 500px;
  }
